---

const { event, event: { frontmatter }} = Astro.props;
import "../styles/global.css";
import CardBg from '../assets/card-bg.gif'
const hasThumb = Boolean(frontmatter.thumb);
const thumbUrl = hasThumb ? frontmatter.thumb : 'card-bg.gif';
const color = hasThumb ? 'text-white' : 'text-[#273583]' ;
const filter = hasThumb ? 'grayscale': '';
const mapMarker = hasThumb ? '-white': '-blue';
---
<span class="text-white text-[#273583] hidden"></span>
<a href={event.url} alt={`Scheda evento ${frontmatter.title}`} class={`${color} `}>
  <div class={`rounded w-full h-128 bg-center bg-cover ${filter}`} style={`background-image: url(${thumbUrl})`}>
    <div class="relative min-h-32 text-center">
      <h3 class={` uppercase text-5xl text-center absolute w-full mx-auto bottom-0  ${color}`}>
        {frontmatter.title}

      </h3>
    </div>
    <div class="text-center">
      <img src={`/map-marker${mapMarker}.svg`} class="w-5 h-5 inline " />
      {frontmatter.city}
    </div>
    <div class="w-full text-center">
      <div class="uppercase text-lg mt-48">
        {frontmatter.venue}
      </div>
    </div>
    <div class="relative min-h-22 text-center">
      <div class={`font-bold uppercase text-2xl text-center absolute w-full mx-auto bottom-0  ${color}`}>
        {frontmatter.visible_date}

      </div>
    </div>
  </div>
</a>
