---
const { frontmatter } = Astro.props;
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} - Il volto dell'Altro</title>
	</head>
	<body>
    <Header />
    <div class="w-full h-96 md:h-[80vh] pt-32 bg-cover bg-no-repeat" style={`background-image: url(${frontmatter.image})`}>
      <h2 class="text-white w-full text-center text-xl md:text-6xl">
        <span class="event-title">{frontmatter.title}</span>
      </h2>
    </div>
    <div class=" p-12 md:p-48 mx-auto bg-[#273583] text-[#d4d8e9]">
      <h2 class="text-6xl text-center uppercase mb-12">
        {frontmatter.visible_date}
      </h2>
      <div class="text-center uppercase text-2xl mb-12">
        <a class="hover:underline" href={frontmatter.map_url} alt={`Come raggiungere ${frontmatter.city} ${frontmatter.venue}`}>
          <img src="/map-marker.svg" class="w-5 inline" style="color: red;" />
        {frontmatter.city} | {frontmatter.venue}
        </a>
      </div>
      <div class="event-description md:columns-2 columns-1 text-xl gap-15 text-justify">
      <slot />
      </div>
    </div>
    <div class="bg-[#f7a600] py-8 md:py-32 px-12 md:px-48 text-center">
      <h2 class="text-4xl md:text-6xl text-[#273583]">{frontmatter.pricing || "Spettacolo a ingresso libero"}</h2>
      {(frontmatter.cta) && (<a href={frontmatter.cta_url} target="_blank" class="uppercase rounded-md bg-[#273583] py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2 my-12 inline-block">{frontmatter.cta}</a>)}
      <div class="uppercase text-[#273583]">
      {frontmatter.cta_info}
      </div>
    </div>
    <Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
